<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="home">
            <img src="../static/images/dinetrack_logo.png" alt="dinetrack_logo" width="140">
            <p>Logged in as {{username}}</p>
            <hr color="purple">
            <div id = "navbar">
                <a class = navelement href="/home/">Home</a>
                <a class = navelement href="/about/">About us</a>
                <a class = navelement href="/tip/">Tip Tool</a>
                <a class = navelement href="/stats/">Statistics</a>
                <a class = navelement href = "/meals/"> Input Meals </a>
                <a class = navelement href="/accounts/logout/">Logout</a>
            </div>
        </div>
        <div id = "info">

            <table>
                <tr>
                    <td class = "profilescolumn">
                        <div id="profiles">
                            <h3 id = "profileheader">About the developers</h3>
                            <div class="individual-profile">
                                <table>
                                    <tr>
                                        <td class = "profileimage">
                                            <img src="../static/images/profiledefault.png" alt="eren_pic" width="100px">
                                        </td>
                                        <td class = "description">
                                            random text
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <br />
                            <div class="individual-profile">
                                <table>
                                    <tr>
                                        <td class = "profileimage">
                                            <img src="../static/images/profiledefault.png" alt="srikant_pic" width="100px">
                                        </td>
                                        <td class = "description">
                                            <p>Srikant Bhat is a junior at the University of Michigan majoring in computer science
                                                through the College of Engineering. Srikant found an interest in computer science through personal coding projects during high school.
                                                In his free time, Srikant loves playing basketball, watching all types of sports, and playing video games.

                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                            <div class="individual-profile">
                                <table>
                                    <tr>
                                        <td class = "profileimage">
                                            <img src="../static/images/rahul.jpg" alt="rahul_pic" width="100px">
                                        </td>
                                        <td class="description">
                                            <p>Rahul D'Costa is a junior at the University of Michigan majoring in computer science
                                            through the College of Engineering. Rahul is interested in how technology can be used to solve the world's problems.
                                            Video games, sports, traveling, and stock trading are some of Rahul's interests.</p>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <br />
                            <div class="individual-profile">
                                <table>
                                    <tr>
                                        <td class = "profileimage">
                                            <img src="../static/images/profiledefault.png" alt="suhaas_pic" width="100px">

                                        </td>
                                        <td class = "description">
                                            <p>Suhaas Nandyala is a senior at the University of Michigan majoring in computer science through the
                                                College of Engineering and minoring in Moral Philosophy through LSA. His interest in computer science
                                                started in high school after taking a couple introductory courses. When not working on assignments, he enjoys coding up
                                                little programs to make mundane tasks easier and reading through the works of renowned philosophers.
                                                During his spare time, Suhaas loves watching sports, listening to music, and playing video games with friends.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                        </div>
                    </td>
                    <td>
                        <div id = "storycard">
                            <h3 id = "storyheader"> Our Story </h3>
                            <div id = "profilescolumn2">
                                <p>We face the same dilemma many college students do - figuring out how to split restaurant bills and tips. Far too often
                                we find ourselves wasting too much time doing math in our heads as our waiters awkwardly stare at us after handing us the bill.
                                So, we decided to create Dinetrack, a tool to settle the issue once and for all.
                                </p>
                            </div>

                        </div>

                    </td>
                </tr>
            </table>
            <br>
            <br>
            <footer class="pageFooter">
                <p>EECS 493 Fall 2020 Final Project</p>
                <p>Created by: Eren Karaaslan, Srikant Bhat, Rahul D'Costa, and Suhaas Nandyala</p>
            </footer>
        </div>
    </body>
</html>
