<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../../static/styles.css" rel="stylesheet">
    </head>

    <div class="login">
        <img src="../../static/images/dinetrack_logo.png" alt="dinetrack_logo">
    </div>
    <br>
    <br> 

    <body>
        <div id=>
            <p>Create a DineTrack Account</p>
            <form class = "form-horizontal" action="" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="First Name" name="firstname">
                <input type="text" placeholder="Last Name" name="lastname">
                <input type="text" placeholder="Password" name="password">
                <input type="text" placeholder="Confirm Password" name="password_confirm">
                <input type="text" placeholder="Email" name="email">
                <input type="file" placeholder="Proflile Picture" name="prof_pic">
                <input type="submit" value="Create">
            </form>
        </div>
        <footer>
            <p>EECS 493 Fall 2020 Final Project</p>
            <p>Created by: Eren Karaaslan, Teamate, Teamate, Teamate</p>
        </footer>
    </body>
</html>