<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <p>Logged in as {{username}}</p>
        <div>
            <a href="/about/">About us</a>
            <a href="/tip/">Tip Tool</a>
            <a href="/stats/">Account Statistics</a>
            <a href = "/meals/"> Input Meals </a>
        </div>
        <div>
            <a href="/accounts/logout/">Logout</a>
        </div>
        <footer>
            <p>EECS 493 Fall 2020 Final Project</p>
            <p>Created by: Eren Karaaslan, Teamate, Teamate, Teamate</p>
        </footer>
    </body>
</html>