<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <!-- How to initialize react entry for main.jsx
        <div id="reactEntry">
            Loading ...
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>-->
        <div class="login">
            <img src="../static/images/dinetrack_logo.png" alt="dinetrack_logo">
            <p>Login</p>
            <form action="" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="password">
                <input type="submit" value="Login">
            </form>
            <p>Don't have a DineTrack account? <a href="/accounts/create/">Sign up</a></p>
            <a href="/about/">About Us</a>
        </div>
        <footer>
            <p>EECS 493 Fall 2020 Final Project</p>
            <p>Created by: Eren Karaaslan, Srikant Bhat, Rahul D'Costa, and Suhaas Nandyala</p>
        </footer>
    </body>
</html>