<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="home">
            <img src="../static/images/dinetrack_logo.png" alt="dinetrack_logo" width="140">
            <p>Logged in as {{username}}</p>
            <hr color="purple">
            <div id = "navbar">
                <a class = navelement href="/home/">Home</a>
                <a class = navelement href="/about/">About us</a>
                <a class = navelement href="/tip/">Tip Tool</a>
                <a class = navelement href="/stats/">Statistics</a>
                <a class = navelement href = "/meals/"> Input Meals </a>
                <a class = navelement href="/accounts/logout/">Logout</a>
                <p></p>
            </div>
        </div>
        <div class="container">
            <br />
            <h1>Restaurants in {{location}}</h1>
            {% for restaurant in restaurants %}
            <div class="border border-dark" id="restaurant">
                <p><b>{{restaurant.name}}</b></p>
                <span>Status:
                    {% if 'opening_hours' in restaurant %}
                        {% if 'open_now' in restaurant.opening_hours %}
                            {% if restaurant.opening_hours.open_now %}
                                <span style="color: green">Open</span>
                            {% elif not restaurant.opening_hours.open_now %}
                                <span style="color: red">Closed</span>
                            {% endif %}
                        {% else %}
                            Unknown
                        {% endif %}
                    {% else %}
                        Unknown
                    {% endif %}
                    ||
                    Rating: {{restaurant.rating}}
                    ||
                    Price Level:
                    {% if restaurant.price_level == 1 %}
                        <span style="color: green">$</span>
                    {% elif restaurant.price_level == 2 %}
                        <span style="color: orange">$$</span>
                    {% elif restaurant.price_level == 3 %}
                        <span style="color: orange">$$$</span>
                    {% else %}
                        <span style="color: red">$$$$</span>
                    {% endif %}
                </span>
            </div>
            {% endfor %}
            <br />
        </div>
        <footer class="pageFooter">
            <p>EECS 493 Fall 2020 Final Project</p>
            <p>Created by: Eren Karaaslan, Srikant Bhat, Rahul D'Costa, and Suhaas Nandyala</p>
        </footer>
    </body>
</html>
