<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <script>
            $(function() {
            $("#addMore").click(function() {
                $("#inputs").append("<li>&nbsp;</li>");
                $("#inputs").append("<li><input type='text' placeholder='Item' name='item'></li>");
                $("#inputs").append("<li><input type='text' placeholder='Calories' name='calorie'></li>");
            });
            });
        </script>
        <div id="home">
            <img src="../static/images/dinetrack_logo.png" alt="dinetrack_logo" width="140">
            <p>Logged in as {{username}}</p>
            <hr color="purple">
            <div id = "navbar">
                <a class = navelement href="/home/">Home</a>
                <a class = navelement href="/about/">About us</a>
                <a class = navelement href="/tip/">Tip Tool</a>
                <a class = navelement href="/stats/">Statistics</a>
                <a class = navelement href = "/meals/"> Input Meals </a>
                <a class = navelement href="/accounts/logout/">Logout</a>
            </div>
        </div>
        <div id = "info">
            <div class="inputmeals">
                <br>
                <h4>Input Meal</h4>
                <form action="/meals/" method="post">
                    <ul style="list-style-type:none; padding-left: 0px;" id = "inputs">
                        <li>
                            <input type="date" placeholder="Date" name="date" style=”border-radius:25px”>
                        </li>
                        <br>
                        <li>
                            <input type="text" placeholder="Item" name="item" style=”border-radius:25px”>
                        </li>
                        <li>
                            <input type="text" placeholder="Calories" name="calorie" style=”border-radius:25px”>
                        </li>
                    </ul>
                    <input type="submit" class = "btn-primary" value="Submit">
                </form>
                <br>
                <button id="addMore">Add more</button>
            </div>
            <br>
            <br>
            <footer class="pageFooter">
                <p>EECS 493 Fall 2020 Final Project</p>
                <p>Created by: Eren Karaaslan, Srikant Bhat, Rahul D'Costa, and Suhaas Nandyala</p>
            </footer>
        </div>
    </body>
</html>
