<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dinetrack</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- How to initialize react entry for main.jsx-->
        <div id="home">
            <img src="../static/images/dinetrack_logo.png" alt="dinetrack_logo" width="140">
            <p>Logged in as {{username}}</p>
            <hr color="purple">
            <div id = "navbar">
                <a class = navelement href="/home/">Home</a>
                <a class = navelement href="/about/">About us</a>
                <a class = navelement href="/tip/">Tip Tool</a>
                <a class = navelement href="/stats/">Statistics</a>
                <a class = navelement href = "/meals/"> Input Meals </a>
                <a class = navelement href="/accounts/logout/">Logout</a>
            </div>
        </div>
        <br>
        <div id="info">
            <h1>How many people will be paying for this meal?</h1>
            <br />
            <div id="reactEntry">
                Loading ...
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        </div>
        <!--<p>Logged in as {{username}}</p>
        <div>
            <a href="/accounts/logout/">Logout</a>
        </div>
        <div class="tip">
            <p>Tip Tool</p>
            <form id="tipForm">
                <div>
                    <input type="text" placeholder="Name" name="name1">
                    <input type="text" placeholder="Amount" name="amount1">
                </div>
                <div>
                    <input type="text" placeholder="Name" name="name2">
                    <input type="text" placeholder="Amount" name="amount2">
                </div>
                <div>
                    <input type="text" placeholder="Name" name="name3">
                    <input type="text" placeholder="Amount" name="amount3">
                </div>
                <input type="text" placeholder="Tip %" name="percent">
                <div>
                    <button> + </button>
                </div>
                <button onclick="store()">Calculate</button>
            </form>
            <script type="text/javascript">
                let users = []
                function user(name, amount) {
                    this.name = name;
                    this.amount = amount;
                }
                function store() {
                    let tipForm = document.getElementById("tipForm");
                    let name1 = tipForm[0].value;
                    let value1 = tipForm[1].value;
                    let name2 = tipForm[2].value;
                    let value2 = tipForm[3].value;
                    let name3 = tipForm[4].value;
                    let value3 = tipForm[5].value;
                    let percent = tipForm[6].value/100.0;
                    alert(name1 + " tip: " + value1*percent + "\n" + name2 + " tip: " + value2*percent + "\n" + name3 + " tip: " + value3*percent);
                }
            </script>
        </div>-->
        <!--
        <br>
        <div class="slidecontainer">
            <input type="range" min="0" max="20" value="10" class="slider" id="myRange">
        </div>
        <div>
            <p> Name 1 : </p>
            <p> Name 2 : </p>
            <p> Name 3 : </p>
        </div>-->
    </body>
    <footer class="pageFooter">
        <p>EECS 493 Fall 2020 Final Project</p>
        <p>Created by: Eren Karaaslan, Srikant Bhat, Rahul D'Costa, and Suhaas Nandyala</p>
    </footer>
</html>
