#story {
    color: white;
    float: left;
    text-align: center;
    padding: 50px;
    font-weight: bolder;
    font-size: x-large;
}

.login {
    background-color: rgb(98, 158, 236);
    text-align: center;
}

#profiles {
    float: left;
}

#profileheader{
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.individual-profile {
    font-size: medium;
    flex-wrap: wrap;
    text-align: center;
}

#create-user {
    text-align: center;
}

#home {
    text-align: center;
    background-color: rgb(98, 158, 236);
    padding-bottom: 5px;
}

.navelement {
    color:black;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
}

#info{
    padding-left: 40px;
}

.form-horizontal {
    text-align: center;
}