#story {
    color: white;
    background-color: rgb(61, 124, 207);
    text-align: center;
    padding: 50px;
    font-weight: bolder;
    font-size: x-large;
}

.login-top {
}

.login {
    background-color: rgb(61, 124, 207);
    text-align: center;
}

#profiles {
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.individual-profile {
    font-size: medium;
    text-align: center;
}

#create-user {
    text-align: center;
}

#home {
    text-align: center;
    background-color: rgb(61, 124, 207);
}

#tip-tool {
    background-color: rgb(61, 124, 207);
    text-align: center;
}